body {
  font-family: 'Ledger', serif;
}

.jumbotron,
.card-header,
.btn {
  color: white;
  font-family: 'Nixie One', cursive;
  font-weight: bold;
}

.jumbotron {
  background-color: #0C96E8;
}

h1 {
  text-shadow: 6px 5px 10px black;
}

table {
  table-layout: fixed;
  width: 100%;
}

th {
  padding: 5px 0;
}

.card-header {
  background-color: #F75819;
}

.btn {
  background-color: #53C213;
}